.ittitle {
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    color: #AB0006;
	text-align:center;

}

.it-content{
	line-height:23px; color:#666; text-indent:2em; padding:3px 7px; margin-bottom:20px; font-size:14px;
}


.it-box{
	padding:22px 0px;   background:white;
}

.index-img{
	text-align:center; margin-top:5px;
}

.index-img img{
	width:100%; max-width:560px;  margin-bottom:8px; 
}